﻿@page
@model POS.Web.Pages.Currencies.CreateERModalModel
@{
}
@using Microsoft.Extensions.Localization
@using POS.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@inject IStringLocalizer<POSResource> L
@{
    Layout = null;
}
<form asp-page="/Currencies/CreateERModal">
    <input asp-for="@Model.CurrencyId" />
    <abp-modal>
        <abp-modal-header title="@L["NewExchangeRate"]">
        </abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="ExchangeRate.Amount"></abp-input>
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)">
        </abp-modal-footer>
    </abp-modal>
</form>
