﻿@page
@model POS.Web.Pages.Currencies.CreateModalModel
@{
}
@using Microsoft.Extensions.Localization
@using POS.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@inject IStringLocalizer<POSResource> L
@{
    Layout = null;
}
<abp-script-bundle>
    <abp-script src="/view-resources/views/Currencies/createModal.js" />
</abp-script-bundle>
<form asp-page="/Currencies/CreateModal">
    <abp-modal>
        <abp-modal-header title="@L["NewCurrency"]">
        </abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="Currency.Name"></abp-input>
            <abp-input asp-for="Currency.Code"></abp-input>
            <div id="ExchangeRateDiv">
                <abp-input asp-for="Currency.Amount"></abp-input>
            </div>
            <abp-input asp-for="Currency.IsMain"></abp-input>
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)">
        </abp-modal-footer>
    </abp-modal>
</form>
