﻿@page
@model POS.Web.Pages.Currencies.ExchangeRatesModel
@{
}
@using Microsoft.Extensions.Localization
@using POS.Localization
@inject IStringLocalizer<POSResource> L
@section scripts
    {
    <environment names="Development">
        <script src="~/view-resources/views/Currencies/ExchangeRates.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Currencyion">
        <script src="~/view-resources/views/Currencies/ExchangeRates.js" asp-append-version="true"></script>
    </environment>
}
@*@await Html.PartialAsync("~/Pages/Currencies/Shared/AdvancedSearch.cshtml")
<abp-card>
    <abp-card-header>
        <abp-row>
            <abp-column size="_6">
                <abp-card-title>@L["ExchangeRates"]</abp-card-title>
            </abp-column>
            <abp-column size="_6" class="text-end">
                <abp-button button-type="Primary" text="@L["AddNewCurrency"]" id="AddCurrency"></abp-button>
            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <abp-table striped-rows="true" id="CurrenciesTable"></abp-table>
    </abp-card-body>
</abp-card>*@
<input id="CurrencyId" asp-for="@Model.CurrencyId" />
@await Html.PartialAsync("~/Pages/Currencies/Shared/AdvancedSearch.cshtml")
<br />
<abp-card>
    <abp-card-header>
        <abp-row>
            <abp-column size="_6">
            </abp-column>
            <abp-column size="_6" class="text-end">
                @if(!Model.Currency.IsMain)
                {
                    <abp-button button-type="Primary" text="@L["AddExchangeRate"]" id="AddExchangeRate"></abp-button>
                }
                
            </abp-column>
        </abp-row>
        <br />
        <abp-row>
            <abp-column class="text-lg-center" size="_6">
                <label for="CurrencyName"><b>@L["Name"] : </b>@Model.Currency.Name</label>
            </abp-column>
            <abp-column class="text-lg-center" size="_6">
                <label for="CurrencyCode"><b>@L["Code"] : </b>@Model.Currency.Code</label>
            </abp-column>
        </abp-row>
        <br />
        <abp-row>
            <abp-column class="text-lg-center" size="_6">
                <label for="CurrencyExchangeRate"><b>@L["ExchangeRate"] : </b><span id="ExchangeRateValue">@Model.Currency.ExchangeRate</span></label>
            </abp-column>
            <abp-column class="text-lg-center" size="_6">
                <label for="Date"><b>@L["Date"] : </b>@DateTime.Now.Date.ToString("dd/MMM/yyyy")</label>
            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <abp-table striped-rows="true" id="ExchangeRatesTable"></abp-table>
    </abp-card-body>
</abp-card>