﻿@page
@model POS.Web.Pages.Cashboxes.IndexModel
@{
}
@using POS.Cashboxes
@using Microsoft.Extensions.Localization
@using POS.Localization
@inject IStringLocalizer<POSResource> L
<abp-card>
    <abp-card-header>
        <abp-row>
            <abp-column size="_6">
                <abp-card-title>@L["AdvancedSearch"]</abp-card-title>
            </abp-column>
            <abp-column size="_6" class="text-end">
                <abp-button style="position:relative;top:-10px" button-type="Primary" abp-collapse-id="AdvancedSearch">
                    <i class="fas fa-filter"></i>
                </abp-button>
            </abp-column>
        </abp-row>

    </abp-card-header>
    <abp-collapse-body id="AdvancedSearch">
        <abp-card-body>
            @*            <input id="serviceId" asp-for="@Model.serviceId"/>*@
            <form id="CertificatesSearchForm">
                <div class="form-group row">
                    <div class="col-6">
                        <label for="NameSrch">@L["Name"]</label>
                        <input id="NameSrch" class="form-control" />
                    </div>
                </div>
            </form>
        </abp-card-body>
        <abp-card-footer>
            <button id="SearchBtn" class="btn btn-primary">@L["Search"]</button>
            <button id="ClearSearchBtn" class="btn btn-secondary">@L["Clear"]</button>
        </abp-card-footer>
    </abp-collapse-body>
</abp-card>

