﻿@page
@model POS.Web.Pages.Products.IndexModel
@{
}
@using Microsoft.Extensions.Localization
@using POS.Localization
@inject IStringLocalizer<POSResource> L
@section scripts
    {
    <environment names="Development">
        <script src="~/view-resources/views/Products/Index.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/views/Products/Index.js" asp-append-version="true"></script>
    </environment>
}
@await Html.PartialAsync("~/Pages/Products/Shared/AdvancedSearch.cshtml",Model)
<abp-card>
    <abp-card-header>
        <abp-row>
            <abp-column size="_6">
                <abp-card-title>@L["Products"]</abp-card-title>
            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <abp-table striped-rows="true" id="ProductsTable"></abp-table>
    </abp-card-body>
</abp-card>
