﻿@page
@model POS.Web.Pages.Orders.AddOrderModel
@{
}
@using Microsoft.Extensions.Localization
@using POS.Localization
@inject IStringLocalizer<POSResource> L
<style>
    .select2-container--default .select2-selection--single {
        height: 46px !important;
        padding-top:9px!important;
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 10px;
}

element.style {
    height: 90%;
}

    .card-body {
        height:100%!important;
    }
    .card {
        height: 100% !important;
    }

        .tab-content .dataTables_wrapper, .card .dataTables_wrapper, .modal-body .dataTables_wrapper {
            height: 100% !important;
        }

    .dataTables_wrapper .dataTables_scroll {
        height: 90% !important;
    }
    .dataTables_scrollBody{
        height: 90% !important;
    }
</style>
@section scripts
    {
    <environment names="Development">
        <script src="~/view-resources/views/Orders/AddOrder.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/views/Orders/AddOrder.js" asp-append-version="true"></script>
    </environment>
}
<abp-card>
    <abp-card-header>
        <abp-row>
            <abp-column size="_6" class="text-start">
                <abp-button button-type="Primary" text="@L["PreviousOrders"]" id="PreviousOrders"></abp-button>
                <abp-button button-type="Primary" text="@L["Cashbox"]" id="Cashbox"></abp-button>
            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <abp-row>
            <abp-column size-lg="_4">
                <select asp-for="Sku"
                        class="auto-complete-select"
                        data-autocomplete-api-url="/api/app/product"
                        data-autocomplete-display-property="name"
                        data-autocomplete-value-property="id"
                        data-autocomplete-items-property="items"
                        data-autocomplete-filter-param-name="name"
                        data-autocomplete-allow-clear="true">

                    <!-- You can define selected option(s) here  -->
@*                    <option selected value="@SelectedAuthor.Id">@SelectedAuthor.Name</option>*@
                </select>
                @*<input type="text" class="form-control" style="display:inline-block!important;width:100%!important" placeholder="@L["EnterSkuCode"]"/>*@
            </abp-column>
            <abp-column size-lg="_2">
                <abp-button class="btn btn-primary" id="AddProductBtn" style="width:100%;">@L["Add"]</abp-button>
            </abp-column>
        </abp-row>
        <br/>
        <abp-row>
            <abp-column size-lg="_6" style="height:550px!important">
                <abp-card class="border-light border-1">
                    <abp-card-body>
                        <abp-table striped-rows="true" id="OrdersTable"></abp-table>
                    </abp-card-body>
                </abp-card>
            </abp-column>
            <abp-column size-lg="_6" style="height:550px!important">
                <abp-card class="border-light border-1">
                    <abp-card-body>
                    <abp-row>
                        <div class="col-lg-4 text-center" style="padding-top:30px">
                            <label for="ClientName">@L["ClientName"]</label>
                        </div>
                        <div class="col-lg-8">
                            <abp-input id="ClientName" asp-for="@Model.Order.ClientName"></abp-input>
                        </div>
                    </abp-row>
                    <br />
                    <abp-row>
                        <div class="col-lg-4 text-center" style="padding-top:30px">
                            <label for="ClientPhoneNumber">@L["ClientPhoneNumber"]</label>
                        </div>
                        <div class="col-lg-8">
                            <abp-input id="ClientPhoneNumber" asp-for="@Model.Order.ClientPhoneNumber"></abp-input>
                        </div>
                    </abp-row>
                    <br/>
                    <abp-row>
                        <div class="col-lg-4 text-center" style="padding-top:20px">
                            <label for="MainCurrency">@L["TotalIn"] @Model.Cashbox.MainCurrency.Code</label>
                        </div>
                            <div class="col-lg-8 text-center" style="padding-top:20px">
                                <label id="MainBalance">@Model.Cashbox.MainBalance</label>
                            </div>
                    </abp-row>
                    <br/>
                    <abp-row>
                        <div class="col-lg-4 text-center" style="padding-top:20px">
                            <label for="SecCurrency">@L["TotalIn"] @Model.Cashbox.SecCurrency.Code</label>
                        </div>
                        <div class="col-lg-8 text-center" style="padding-top:20px">
                            <label id="SecondBalance">@Model.Cashbox.SecBalance</label>
                        </div>
                    </abp-row>
                    <br />
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <abp-row>
                        <div class="col-lg-12 text-center">
                                <label for="ExchangeRate" class="text-lg-center text-danger fw-bold">@L["ExchangeRate"] : <span id="er">@Model.Cashbox.ExchangeRate</span></label>
                        </div>
                    </abp-row>
                    </abp-card-body>

                </abp-card>
            </abp-column>
        </abp-row>
        <br />
        <abp-row>
            <abp-column size="_12">
                <abp-card>
                    <abp-card-body>
                        <div class="row">
                            <div class="col-lg-6">
                                <abp-row>
                                    <abp-column class="text-center" size-lg="_4" style="padding-top:30px;">@L["ClientPaid"] @Model.Cashbox.MainCurrency.Code</abp-column>
                                    <abp-column size-lg="_8">
                                        <abp-input id="MainPaid" asp-for="@Model.Order.MainPaid"></abp-input>
                                    </abp-column>
                                </abp-row>
                                <abp-row>
                                    <abp-column class="text-center" size-lg="_4" style="padding-top:30px;">@L["ClientPaid"] @Model.Cashbox.SecCurrency.Code</abp-column>
                                    <abp-column size-lg="_8">
                                        <abp-input id="SecondPaid" asp-for="@Model.Order.SecPaid"></abp-input>
                                    </abp-column>
                                </abp-row>
                                <abp-row>
                                    <abp-column class="text-center" size-lg="_4" style="padding-top:30px;">@L["Change"] @Model.Cashbox.MainCurrency.Code</abp-column>
                                    <abp-column class="text-center" size-lg="_4" style="padding-top:30px;"><label class="fw-bold" id="AutoMainChange">0.00</label></abp-column>
                                    <abp-column size-lg="_4">
                                        <abp-input id="MainChange" asp-for="@Model.Order.MainPaid"></abp-input>
                                    </abp-column>
                                </abp-row>
                                <abp-row>
                                    <abp-column class="text-center" size-lg="_4" style="padding-top:30px;">@L["Change"] @Model.Cashbox.SecCurrency.Code</abp-column>
                                    <abp-column class="text-center" size-lg="_4" style="padding-top:30px;"><label class="fw-bold" id="AutoSecondChange">0.00</label></abp-column>
                                    <abp-column size-lg="_4">
                                        <abp-input id="SecondChange" asp-for="@Model.Order.SecPaid"></abp-input>
                                    </abp-column>
                                </abp-row>
                            </div>
                            <div class="col-lg-6">
                                <br/>
                                <abp-row style="height:110px">
                                    <abp-column size="_12" class="text-danger text-center" >
                                        <p class="text-center text-danger fw-bold" id="OneProductDanger" style="display:none">@L["OrderShouldContain1Prod"]</p>
                                        <p class="text-center text-danger fw-bold" id="EnoughBalance" style="display:none">@L["EnoughBalance"]</p>
                                        <p class="text-center text-danger fw-bold" id="EnoughChange" style="display:none">@L["EnoughChange"]</p>
                                    </abp-column>
                                </abp-row>
                                <abp-row>
                                    <abp-column size-lg="_2"></abp-column>
                                    <abp-column size-lg="_8">
                                        <abp-button button-type="Primary" id="PayBtn" style="width:100%!important">@L["Pay"]</abp-button>
                                    </abp-column>
                                    <abp-column size-lg="_2"></abp-column>
                                </abp-row>
                                <br/>
                                <abp-row>
                                    <abp-column size-lg="_2"></abp-column>
                                    <abp-column size-lg="_8">
                                        <abp-button button-type="Danger" style="width:100%!important">@L["Cancel"]</abp-button>
                                    </abp-column>
                                    <abp-column size-lg="_2"></abp-column>
                                </abp-row>
                            </div>
                        </div>

                    </abp-card-body>
                </abp-card>
            </abp-column>
        </abp-row>

    </abp-card-body>
</abp-card>