﻿@page
@using Microsoft.AspNetCore.Mvc.Localization
@using POS.Localization
@using Volo.Abp.Users
@model POS.Web.Pages.IndexModel
@inject IHtmlLocalizer<POSResource> L
@inject ICurrentUser CurrentUser
@section styles {
<abp-style src="/Pages/Index.css" />
}
@section scripts {
<abp-script src="/Pages/Index.js" />
}
