﻿@page
@using POS.Web.Pages.Cashboxes
@model EditModalModel
@using Microsoft.Extensions.Localization
@using POS.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@inject IStringLocalizer<POSResource> L
@{
    Layout = null;
}
<form asp-page="/Cashboxes/EditModal">
    <input asp-for="id" />
    <abp-modal>
        <abp-modal-header title="@L["EditCashbox"]">
        </abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="Cashbox.Name"></abp-input>
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)">
        </abp-modal-footer>
    </abp-modal>
</form>