﻿@page
@model POS.Web.Pages.Cashboxes.IndexModel
@{
}
@using Microsoft.Extensions.Localization
@using POS.Localization
@inject IStringLocalizer<POSResource> L
@section scripts
    {
    <environment names="Development">
        <script src="~/view-resources/views/Cashboxes/Index.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/views/Cashboxes/Index.js" asp-append-version="true"></script>
    </environment>
}
@await Html.PartialAsync("~/Pages/Cashboxes/Shared/AdvancedSearch.cshtml")
<abp-card>
    <abp-card-header>
        <abp-row>
            <abp-column size="_6">
                <abp-card-title>@L["Cashboxes"]</abp-card-title>
            </abp-column>
            <abp-column size="_6" class="text-end">
                <abp-button button-type="Primary" text="@L["AddNewCashboxe"]" id="AddCashbox"></abp-button>
            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <abp-table striped-rows="true" id="CashboxesTable"></abp-table>
    </abp-card-body>
</abp-card>
