﻿@page
@model POS.Web.Pages.Cashboxes.OpenCashboxModel
@{
}
@using Microsoft.Extensions.Localization
@using POS.Localization
@inject IStringLocalizer<POSResource> L
@section scripts
    {
    <environment names="Development">
        <script src="~/view-resources/views/Cashboxes/OpenCashbox.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/views/Cashboxes/OpenCashbox.js" asp-append-version="true"></script>
    </environment>
}
<abp-row>
    <abp-column size="_12" class="text-center">
        <abp-row style="height:200px" class="d-inline-block">
            <abp-column size="_6" style="width:100%;">
                <abp-card class="mt-5">
                    <abp-card-header class="bg-dark text-center text-white" style="padding:0px!important">
                        <abp-row>
                            <abp-column size="_12">
                                <abp-card-title style="padding:10px 0px!important"  class="text-white">@L["CashboxBalance"]</abp-card-title>
                            </abp-column>
                        </abp-row>
                    </abp-card-header>
                    <abp-card-body class="text-center">
                        <form method="post">
                            <abp-row>
                                <abp-column size="_12" class="text-center">
                                    <label for="TotalCashbox" class="d-inline-block">@L["TotalCashbox"] : </label>&nbsp;
                                    <label id="TotalCashbox" class="d-inline-block">@Model.Cashbox.MainBalance</label>
                                </abp-column>
                                <abp-column size="_12" class="text-center">
                                    <label for="TotalCashbox" class="d-inline-block" style="visibility:hidden">@L["TotalCashbox"]</label>
                                    <label id="TotalCashbox" class="d-inline-block">@Model.Cashbox.SecBalance</label>
                                </abp-column>
                            </abp-row>
                        </form>
                    </abp-card-body>
                    <abp-card-footer style="background-color:white!important;border:none!important">
                        <abp-button button-type="Info">@L["OpenCashbox"]</abp-button>
                    </abp-card-footer>
                </abp-card>
            </abp-column>
        </abp-row>
    </abp-column>
</abp-row>
