﻿@page
@model POS.Web.Pages.Employees.CreateModalModel
@{
}
@using Microsoft.Extensions.Localization
@using POS.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@inject IStringLocalizer<POSResource> L
@{
    Layout = null;
}
<abp-script-bundle>
    <abp-script src="/view-resources/views/Employees/creatModal.js" />
</abp-script-bundle>
<form asp-page="/Employees/CreateModal">
    <abp-modal>
        <abp-modal-header title="@L["NewEmployee"]">
        </abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="Employe.UserName"></abp-input>
            <abp-input asp-for="Employe.Name"></abp-input>
            <abp-input asp-for="Employe.Surname"></abp-input>
            <abp-input asp-for="Employe.Password"></abp-input>
            <abp-input asp-for="Employe.Email"></abp-input>
            <abp-input asp-for="Employe.PhoneNumber"></abp-input>
            <abp-row class="form-group required">
                <abp-column size="_12">
                    <abp-radio asp-for="@Model.Employe.TypeId" asp-items="@Model.EmployeeTypes" inline="true"/>
                </abp-column>
            </abp-row>
            <br />
            <abp-row class="form-group required CashboxDiv">
                <abp-column size="_12">
                    <abp-select asp-for="@Model.Employe.CashboxId" class="required" required-symbol label="@L["Cashbox"]">
                        @* <option value="0" selected>@L["SelectOne"]</option>*@
                    </abp-select>
                </abp-column>
            </abp-row>
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)">
        </abp-modal-footer>
    </abp-modal>
</form>