﻿@page
@model POS.Web.Pages.Employees.EditModalModel
@{
}
@using Microsoft.Extensions.Localization
@using POS.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@inject IStringLocalizer<POSResource> L
@{
    Layout = null;
}
<abp-script-bundle>
    <abp-script src="/view-resources/views/Employees/editModal.js" />
</abp-script-bundle>
<form asp-page="/Employees/EditModal">
    <input asp-for="id" />
    <abp-modal>
        <abp-modal-header title="@L["EditEmployee"]">
        </abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="Employee.UserName"></abp-input>
            <abp-input asp-for="Employee.Name"></abp-input>
            <abp-input asp-for="Employee.Surname"></abp-input>
@*            <abp-input asp-for="Employee.Password"></abp-input>*@
            <abp-input asp-for="Employee.Email"></abp-input>
            <abp-input asp-for="Employee.PhoneNumber"></abp-input>
            <abp-row class="form-group required">
                <abp-column size="_12">
                    <abp-radio asp-for="@Model.Employee.TypeId" asp-items="@Model.EmployeeTypes" inline="true"/>
                </abp-column>
            </abp-row>
            <br />
            <abp-row class="form-group required CashboxDiv">
                <abp-column size="_12">
                    <abp-select asp-for="@Model.Employee.CashboxId" class="required" required-symbol label="@L["Cashbox"]">
                        @* <option value="0" selected>@L["SelectOne"]</option>*@
                    </abp-select>
                </abp-column>
            </abp-row>
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)">
        </abp-modal-footer>
    </abp-modal>
</form>