﻿@page
@model POS.Web.Pages.Employees.ResetPasswordModalModel
@{
}
@using Microsoft.Extensions.Localization
@using POS.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@inject IStringLocalizer<POSResource> L
@{
    Layout = null;
}
<form asp-page="/Employees/ResetPasswordModal">
    <input asp-for="id" />
    <abp-modal>
        <abp-modal-header title="@L["ResetPassword"]">
        </abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="resetPasswordDto.UserId" style="display:none"></abp-input>
            <abp-input asp-for="resetPasswordDto.Password"></abp-input>
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)">
        </abp-modal-footer>
    </abp-modal>
</form>
