﻿@model POS.Web.Pages.Products.IndexModel
@using POS.Cashboxes
@using Microsoft.Extensions.Localization
@using POS.Localization
@inject IStringLocalizer<POSResource> L
<abp-card>
    <abp-card-header>
        <abp-row>
            <abp-column size="_6">
                <abp-card-title>@L["AdvancedSearch"]</abp-card-title>
            </abp-column>
            <abp-column size="_6" class="text-end">
                <abp-button style="position:relative;top:-10px" button-type="Primary" abp-collapse-id="AdvancedSearch">
                    <i class="fas fa-filter"></i>
                </abp-button>
            </abp-column>
        </abp-row>

    </abp-card-header>
    <abp-collapse-body id="AdvancedSearch">
        <abp-card-body>
            <form id="CertificatesSearchForm">
                <div class="form-group row">
                    <div class="col-4 mt-1">
                        <label for="NameSrch">@L["Name"]</label>
                        <input asp-for="@Model.Search.Name" id="NameSrch" class="form-control" />
                    </div>
                    <div class="col-4">
                        <abp-select asp-for="@Model.Search.CashboxId" id="CashboxIdSrch" class="required" required-symbol label="@L["Cashbox"]">
                            <option selected value="00000000-0000-0000-0000-000000000000">All</option>
                        </abp-select>
                    </div>
                </div>
            </form>
        </abp-card-body>
        <abp-card-footer>
            <button id="SearchBtn" class="btn btn-primary">@L["Search"]</button>
            <button id="ClearSearchBtn" class="btn btn-secondary">@L["Clear"]</button>
        </abp-card-footer>
    </abp-collapse-body>
</abp-card>